<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: center;" id="app">
        <div v-on:keyup.up="changeDirection" class="container">
            <div class="point" v-bind:class="{ snakePoint: point.snake, eat: point.eat }" v-for="point in points"></div>
        </div>
        <div v-if="finish" style="position:absolute; z-index: 10; background-color: red; height: 400px; width: 800px; display: flex; align-items: center; justify-content: center;">
            <span style="font-size: 60px;">Проебали</span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>